certifi==2026.4.22
charset-normalizer==3.4.7
cocotb==2.0.1
cocotb-test==0.2.6
docopt==0.6.2
find_libpython==0.5.1
idna==3.15
iniconfig==2.3.0
numpy==2.4.5
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
requests==2.34.2
urllib3==2.7.0
yarg==0.1.10
